:root{
    --maingreycolor:#333333;
    --mainblue:#0569CD;
}
*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
#navmenu{
    background-color: #333333;
    height: 53px;
    width: 100%;
    background-attachment: fixed;
    z-index: 999;
}
#navmenu>.function>ul{
    margin-left: 269px;
}
#navmenu>.function>ul>li{
    float: left;
    font-size: 15px;
    line-height: 53px;
    display: inline;
    color: #D6D6D6;
    list-style: none;
    margin: auto 27px;
    position: relative;
}
#navmenu>.function>ul>li:hover {
    filter: brightness(170%)
}
#navmenu>.function>ul>li>img{
    margin-top: 10px;
}
.BagMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    z-index: 999;
    position: relative;
   
}
.BagMenu>li{
    list-style: none;
    text-decoration: none;
    padding: 8px 0px;
  
}
#navmenu>div>ul>li>div>ul{
    display: hide;
    animation: slide 14s;
    position: relative;

}
#navmenu>div>ul>li>div>ul>li:hover li{
    display: block;
    z-index: 999999;
  

}



.devider{
    height: 1px;
    border-radius: 3px;
    background-color: grey;
    width: 160px;
}

.BagMenu>li>a{
    text-decoration: none;}
#navmenu>.function>ul>li>ul>li{
    list-style: none;

}
.bagmenucontainer{
    display: flex;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    background-color: rgb(224, 224, 224);
    position: absolute;
    top:70px ;
    right: -112px;
    z-index: 99;
    border-radius: 7px;
}

  
@keyframes slide{
    0%{left: -20px;}
    30%{left: 18px;}
    60%{left: -13px;}
    100%{left: 0px;;}
}
#news{
    background-color: #F5F5F7;
    width: 100%;
    height: 42px;
    float: left;
    line-height: 42px;
    text-align: center;
}
#news>p>a{
    color:var(--mainblue);
    text-decoration: none;
}
#news>p>a:hover{
    text-decoration: underline;
    
}
#largebanner{
    position:relative;    
}
#largebanner>img{
    margin: 15px;
}

#largebanner>.banner1>p>a{
    position: absolute;
    font-size: 37px;
    text-decoration: none;
    text-decoration-style: none;
    color:var(--mainblue);
    top: 230px;
    left: 750px;
}
#largebanner>.banner1>p>a:hover{
    text-decoration: underline;
}
#largebanner>.banner1>p>a:hover{
    text-decoration: underline;
}
#largebanner>.banner1>p>a:hover{
    text-decoration: underline;
}
#largebanner>.banner1>p>a:hover{
    text-decoration: underline;
}
#smallbanner>ul>li{
    display: inline;
    margin: 9px;
}
.banner45>ul>li{
    display: inline;
    margin: 7px;
}
#footer{
    position: absolute;
    background-color:#F5F5F7 ; height: 400px;
}
#footer>ul{
    margin-left: 270px; margin-right: 270px;
    text-decoration: none;
    list-style: none;
    line-height: 29px;
    text-size-adjust: 14px;
}
#contact1{
    position: relative;
    top: 30px;
}
#contact1>ul{
    
    margin-top: 250px;
    margin-left: 270px; margin-right: 270px;
    text-decoration: none;
    list-style: none;
    line-height: 29px;
    text-size-adjust: 14px;
}